.tittle {
    background-color: aliceblue;
    color: black;
    
}   
#foto {
    width: 100%;
    height: 400px;
    background-image: url("https://github.com/ManuelCebreiro/exercise-collaborative-html-website/blob/develop/website/assets/img/bg.jpg?raw=true");
}

